@model IEnumerable<EntityLayer.Concreate.Comment>

<div class="comment-top">
	<h4>Yorumlar</h4>
	<div class="media">
		<img src="~/CoreBlogTema-main/web/images/t1.jpg" alt="" class="img-fluid" />
		<div class="media-body">
			<h5 class="mt-0">Zafer</h5>
			<p>
				Uzun zaman bekledik ama beklediğimize değdi.
			</p>

		@*	<div class="media mt-3">
				<a class="d-flex pr-3" href="#">
					<img src="~/CoreBlogTema-main/web/images/t4.jpg" alt="" class="img-fluid" />
				</a>
				<div class="media-body">
					<h5 class="mt-0">Damla</h5>
					<p>
						Çok güzel bir konserdi
					</p>
				</div>
			</div>*@
		</div>
	</div>
</div>